body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #333;
    margin: 0;
    padding: 0;
}

/* style for container and choices */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 2px solid #ff6600;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #ff6600;
}

.choices {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    border: 2px solid #ff6600;
    border-radius: 10px;
    background-color: #f4f4f4;
}

.option {
    cursor: pointer;
    transition: transform 0.2s;
    max-width: 100px;
}

.option:hover {
    transform: scale(1.1);
}

/* style for score counter */
.result {
    margin-top: 20px;
    font-size: 20px;
    color: #ff6600;
}

/* style for overlay with rules */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rules-text {
    background: #fff;
    padding: 20px;
    border: 2px solid #ff6600;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #ff6600;
    font-size: 24px;
    width: 70%;
}

#close-rules {
    margin-top: 20px;
}

/* style for buttons */
.btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #ff3300;
}

/* style to make website responsive */
@media (max-width: 768px) {
    .container {
        margin: 10px;
        max-width: 100%;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .choices {
        padding: 10px;
        gap: 10px;
        flex-direction: row;
        align-items: center;
    }

    .option {
        max-width: 100px;
    }

    .result {
        font-size: 18px;
    }
}